@charset "utf-8";
@import "../../common.scss";

.input {
    display: inline-block;
    height: 30px;
    box-sizing: border-box;
    padding: 0 9px;
    color: #333;
    font-size: 12px;
    border: 1px solid $border;
    transition: all .15s ease;
    outline: none;
    &:focus {
        border-color: $main;
    }
    &:disabled {
        background-color: #f5f5f5;
        color: #b7b7b7;
    }
    &--sm {
        width: 60px;
    }
    &--md {
        width: 120px;
    }
    &--ml {
        width: 160px;
    }
    &--lg {
        width: 260px;
    }
    &--xl {
        width: 380px;
    }
}
